<ul id="userfloat">
	<% if logged_in? %>
		<li>Zalogowany jako: <%=h current_user.login %></li>
		<li class="last"><%= link_to "wyloguj się", logout_path %></li>
	<% else %>
		<li><%= link_to "zaloguj się", login_path %></li>
		<li class="last"><%= link_to "załóż konto", signup_path %></li>
	<% end %>
</ul>