<ul class="dotted">
<% object.each do |artist| %>
	<li><%= link_to artist.name, artist_path(artist, :html) %></li>
	<% if admin? %>
		<li class="admin">Admin: <%= link_to 'Edytuj', edit_artist_path(artist) %> | <%= link_to 'Usuń', artist, :confirm => 'Na pewno?', :method => :delete %></li>
	<% end %>
	</li>
<% end %>
</ul>