<div id="footer">
	<ul>
		<li>© 2004-<%= Date.today.year %> HHBD.PL</li>
		<li><a href="/kontakt">Kontakt z nami</a></li>
		<li><a href="http://www.webascrazy.net">Projekt i wykonanie</a></li>
	</ul>	
</div>