.adminbox {
	display: block;
	float: left;
	border: 2px #B40000 solid;
	background: #F4CBC2;
	color: black;
	font-size: 12px;
	padding: 4px;
	margin: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
}


body admin.form {

}

body.admin form label {
	font-size: 16px;
	margin-bottom: 0px;
}


body.admin form input, body.admin form select, body.admin form textarea {
	font-size: 16px;

	padding: 2px;
}

body.admin form select.date {

}