<div id="footer">
	<ul>
		<li>© 2004-<%= Date.today.year %> hhbd.pl</li>
		<li><a href="/kontakt">Kontakt</a></li>
		<li><a href="/technologia">Technologia</a></li>
		<li><a href="/blog">Blog</a></li>
		<li>Projekt i wykonanie: <a href="http://www.webascrazy.net">http://www.webascrazy.net</a></li>
	</ul>	
</div>